<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="challenge">
      <ion-icon name="cup"></ion-icon>
      <ion-label>Challenge</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
